#nav-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin: 0;
    /* padding: 0 10px; */
    width: 100%;
    padding: 20px 10px;
}

#nav-container a {
    padding: 4px 10px;
    text-decoration: none;
    color: dodgerblue;
    color: #5A1CD4;
}

#nav-container a.active {
    /* background-color: blue; */
    background-color: #5A1CD4;
    /* color: white; */
    color: #F1F4FF;
}

#logout {
    /* background-color: blue; */
    background-color: #5A1CD4;
    color: #F1F4FF;
    /* color: white; */
    padding: 6px 12px;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

#logout-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: navy;
    width: 280px;
    height: 280px;
    text-align: center;
    z-index: 1;
    padding: 50px;
    color: white;
}

#logout:hover {
    cursor: pointer;
}

.logout-btn {
    background-color: white;
    color: navy;
    font-size: 16px;
    font-weight: bold;
}

.close-btn {
    position: absolute;
    top: 3%;
    right: 3%;
    border-radius: 50%;
    background-color: white;
    border: none;
    color: navy;
    font-weight: bold;
}

.close-btn:hover {
    cursor: pointer;
}


#open-nav {
    display: none;
}

.hidden {
    display: none;
}

#hamburger-icon {
    width: 30px;
}

#hamburger-icon:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    #logout-container {
        width: 200px;
    }

    #nav-container {
        flex-direction: column;
    }

    #nav-container a {
       display: block;
       width: 50%;
    }

    #logout {
        width: 50%;
        background-color: white;
        color: #5A1CD4;
        text-align: left;
        border: 1px solid;
    }

    #open-nav {
        display: block;
        width: 50px;
        color: white;
        margin-bottom: 20px;
        border: none;
        background-color: none;
        background: none;
    }

    
}
